html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding:1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 28em;
}

li {
  background-color: #eee;
  color: #888;
  border: 1px solid #888;
  margin: 0.2em;
  padding: 0.4em;
}

input {
  width: 5em;
  height: 1em;
  font-size: 0.7em;
}
button {
  height: 1.7em;
  font-size: 0.7em;
  background-color: lightgreen;
  vertical-align: .5em;
}

span.schedule {
  font-size: 1em;
  width: 10em;
  /* border: 1px solid #888; */
  padding: 0.4em;
  height: 18px;
  vertical-align: .5em;
}